* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #cd2020;
  --second-color: #212428;
  --third-color: #c4cfde;
  --main-padding: 10px 100px;
  --second-padding-title: 120px 100px;
  --main-box-shadow: 0px 0px 14px #1c1e22, 0px 0px 19px #262a2e;
  --main-transition: all 0.3s;
}
html {
  height: -webkit-fill-available;
}
body {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  height: -webkit-fill-available;
}
/* large */
@media (min-width: 1700px) {
  :root {
    --main-padding: 10px 300px;
    --second-padding-title: 120px 300px;
  }
}
/* medium */
@media (max-width: 992px) {
  :root {
    --main-padding: 20px;
    --second-padding-title: 120px 40px;
  }
}

/* x-small */
@media (max-width: 576px) {
  :root {
    --second-padding-title: 120px 10px;
    --main-padding: 10px 10px;
  }
}

::selection {
  background-color: #d91a1a;
  color: white;
}

.title-section {
  color: #cd2020;
  text-transform: uppercase;
  font-family: "kanit", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
  visibility: hidden;
}
@media (max-width: 768px) {
  .title-section {
    font-size: 45px;
  }
}

/* Start shapedivider */
.custom-shape-divider-top-1666659322 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1666659322 svg {
  position: relative;
  display: block;
  width: calc(157% + 1.3px);
  height: 331px;
  transform: rotateY(180deg);
  z-index: -10;
}

.custom-shape-divider-top-1666659322 .shape-fill {
  fill: #00000078;
}

.custom-shape-divider-top-1666661349 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1666661349 svg {
  position: relative;
  display: block;
  width: calc(221% + 1.3px);
  height: 129px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1666661349 .shape-fill {
  fill: #00000078;
}

/* End shapedivider */

.portfolio {
  width: 100%;
}

/* ******* Start Menu ******* */

.portfolio .menu {
  background-color: transparent;
  box-sizing: border-box;
  padding: var(--main-padding);
  border-bottom: 0.5px solid #212428;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  backdrop-filter: blur(15px);
  position: absolute;
  width: 100%;
  height: 92px;
}
.slide-down-scrol {
  position: fixed !important;
  height: 70px !important;
  animation-name: animatetop;
  animation-duration: 1s;
  z-index: 9 !important;
  border: 0.5px solid #cd202075 !important;
  backdrop-filter: blur(150px) !important;
}
/* Add Animation */
@keyframes animatetop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.portfolio .menu .logo-img {
  position: relative;
}

.portfolio .menu .logo-img img {
  padding: 6px;
  transition: all 0.3s;
}
.portfolio .menu #toglebutton {
  background: none;
  transition: var(--main-transition);
  border: none;
  padding: 6px;
  display: none;
}
.portfolio .menu #toglebutton .fa-solid {
  display: none;
  padding: 10px 0;
  width: 46px;
  border: 2px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
  font-size: 22px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0 #b11f1f;
  transition: var(--main-transition);
}

.portfolio .menu #toglebutton:hover {
  background-color: #b11f1f4f;
  cursor: pointer;
}
.show {
  display: flex important;
}
.portfolio .menu .nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 20px;
}

.portfolio .menu .nav li {
  list-style: none;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  transition: all 1s;
}

.portfolio .menu .nav li a {
  color: var(--third-color);
  text-decoration: none;
  transition: all 0.5s;
}

.portfolio .menu .nav li i {
  margin-right: 20px;
  color: #c4cfde;
  transition: all 0.5s;
}

.portfolio .menu .nav li:hover a,
.portfolio .menu .nav li:hover i {
  color: var(--main-color) !important;
  border-bottom: 1px solid var(--main-color);
}

/* large */
@media (max-width: 1200px) {
}
/* medium */
@media (max-width: 992px) {
  .portfolio .menu #toglebutton {
    display: block;
  }
  .portfolio .menu .nav {
    display: none;
    position: absolute;
    width: 60%;
    left: 20%;
    background-color: #322e34cf;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 95px;
    padding: 20px;
  }
  .portfolio .menu #toglebutton .fa-bars {
    display: block;
  }
}

/* ******* End Menu ******* */

/* ******* Start Slider ******* */
.content .slider {
  position: relative;
  height: 100vh;
  background-image: url(../images/slide1.JPG);
  background-size: cover;
  background-position: center;
}
.content .slider .layout {
  width: 100%;
  height: 100%;
  background-color: #000000a3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--main-padding);
  gap: 24px;
}

.content .slider .layout h2 {
  color: #b11f1f;
  font-size: 80px;
  font-family: "kanit", sans-serif;
  text-transform: uppercase;
}

.content .slider .layout p {
  color: #d91a1a;
  font-size: 40px;
  font-family: "kanit", sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #89bbfe 0%,
    #df3b57 29%,
    #b8dbd9 67%,
    #f4f4f9 100%
  );
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s ease-out infinite;
  display: inline-block;
}
.content .slider .layout a {
  width: fit-content;
  border-radius: 40px;
  padding: 0px 0px 0 20px;
  text-align: center;
  color: var(--third-color);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: monospace;
  border: 2px solid #b11f1f;
  background: red;
  background: linear-gradient(to right, transparent 50%, #b11f1f 50%) left;
  background-size: 200%;
  transition: 0.5s ease-out;
  text-decoration: none;
}
.content .slider .layout a:hover {
  background-position: right;
  cursor: pointer;
}

.content .slider .layout a .fa-down-long {
  background-color: #b11f1f;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* medium */
@media (max-width: 992px) {
  .content .slider {
    background-position: right;
  }
  .content .slider .layout {
    align-items: center;
    text-align: center;
  }
  .content .slider .layout h2 {
    font-size: 70px;
  }
  .content .slider .layout p {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .content .slider .layout h2 {
    font-size: 55px;
  }
}

/* ******* End Slider ******* */

/* ************************************************************************************* */

/* ******* Start About Me ******* */
.content .about {
  padding: var(--second-padding-title);
  background-color: #212428;
  position: relative;
}

.about .items {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: space-between;
}
.content .about .about-image {
  position: relative;
  visibility: hidden;
}
.content .about .about-image::before {
  content: "";
  width: 350px;
  height: 420px;
  border: solid 10px #c4cfde7d;
  position: absolute;
  left: 40px;
  border-radius: 30px;
}

.content .about .about-image img {
  width: 350px;
  height: 420px;
  border-radius: 30px;
  margin-top: 40px;
  position: relative;
  z-index: 2;
}

.content .about .about-content {
  background-color: #191c1f;
  border-radius: 20px;
  padding: 30px;
  z-index: 3;
  visibility: hidden;
}

.content .about .about-content h2 {
  font-size: 50px;
  color: #cd2020;
  font-family: "konit", sans-serif;
  text-align: center;
}

.content .about .about-content p {
  margin: 0px auto 40px;
  font-size: 22px;
  color: var(--third-color);
  font-family: system-ui;
  line-height: 34px;
  text-align: justify;
  font-weight: 300;
}

.content .about .about-content ul li {
  list-style: none;
  font-size: 22px;
  color: var(--third-color);
  font-family: system-ui;
  margin-bottom: 10px;
}

.content .about .about-content ul li span {
  font-size: 24px;
  font-weight: 900;
  color: #cd2020;
  font-family: monospace;
  letter-spacing: -1px;
  text-decoration: underline;
}
.content .about .about-content .button-manox {
  display: inline-block;
  margin-top: 40px;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 50px;
  color: var(--main-color);
  box-shadow: var(--main-box-shadow);
  transition: var(--main-transition);
  font-weight: 900;
  font-family: "Kanit";
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  letter-spacing: 1.5px;
}
.content .about .about-content #down-cv {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.content .about .about-content #down-cv a {
  position: relative;
  transition: all 0.45s ease-Out;
  color: var(--main-color);
  text-decoration: none;
}
.content .about .about-content #circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: var(--main-color);
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 80px;
}
.content .about .about-content #down-cv:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.content .about .about-content #down-cv:hover a {
  color: white;
}
/* large */
@media (max-width: 1200px) {
  .about .items {
    grid-template-columns: auto;
    justify-items: center;
    gap: 40px;
  }
  .content .about .about-content {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .content .about .about-image::before {
    left: -10px;
  }
}
/* ******* End About Me ******* */

/* ************************************************************************************* */

/* ******* Start skills   ******* */
.skills {
  padding: var(--second-padding-title);
  background-color: #212428;
  position: relative;
}

.skills .list-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
  visibility: hidden;
}

.skills .list-skills .title-skill {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-family: kanit;
  color: aliceblue;
  background-color: #191c1f;
  margin: 0px 0px 40px 0px;
  visibility: hidden;
}

.skills .list-skills .skill {
  background-color: #141517;
  width: 45%;
  margin: 35px 0px;
  height: 5px;
  position: relative;
}

.skills .list-skills .skill span {
  font-family: "kanit", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  margin-top: -30px;
  color: rgb(255, 255, 255);
}

.skills .list-skills .skill .count {
  right: 0;
  font-weight: 300;
}

.skills .list-skills .skill .count-bar {
  background-color: #cd2020;
  height: 5px;
  width: 50%;
  position: absolute;
  background: linear-gradient(145deg, #cd2020 0%, #6a67ce 100%) !important;
}

.skills .list-skills .skill .count-bar:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #6a67ce;
  right: 0;
  top: -2.5px;
  border-radius: 50%;
  position: absolute;
}
/* small */
@media (max-width: 768px) {
  .skills .list-skills {
    flex-direction: column;
  }
  .skills .list-skills .skill {
    width: 100%;
  }
}
/* ******* Start skills   ******* */

/* ************************************************************************************* */

/* ******* Start Portfolio Project ******* */

.projects {
  padding: var(--second-padding-title);
  background-color: #212428;
  position: relative;
}
.projects .projects-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border: 1px solid #14141459;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 18px rgb(57 57 57 / 40%);
}
.projects .projects-items .projects-item {
  box-shadow: -5px -5px 26px 0px #ffffff1a !important;
  border-radius: 25px;
  background: linear-gradient(to right, transparent 50%, #1b1d21 50%) left;
  background-size: 200%;
  transition: 0.5s ease-out;
  padding: 30px;
  visibility: hidden;
}
.projects .projects-items .projects-item:hover {
  background-position: right;
}
.projects .projects-items .project-img img {
  width: 100%;
  background-color: #c4cfde47;
  border-radius: 15px;
}
.projects .projects-items .project-text {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.projects .projects-items .project-text h5 {
  color: var(--main-color);
  font-size: 20px;
}
.projects .projects-items .project-text h2 {
  color: #c4cfde;
}
.projects .projects-items .project-text a {
  color: #c4cfde80;
  text-align: end;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  transition: var(--main-transition);
}
.projects .projects-items .project-text a:hover {
  color: var(--main-color);
}
/* large */
@media (max-width: 1200px) {
  .projects .projects-items {
    grid-template-columns: auto auto;
  }
}
/* small */
@media (max-width: 768px) {
  .projects .projects-items {
    grid-template-columns: auto;
    /* padding: 0 70px; */
  }
}

/* ******* End Portfolio Project  ******* */

/* ************************************************************************************* */

/* ******* Start Contact Me ******* */

.contact-me {
  padding: var(--second-padding-title);
  background-color: #212428;
  position: relative;
}
.contact-me .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.contact-me .container .informations ul {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  justify-content: space-evenly;
}
.contact-me .container .informations ul li {
  visibility: hidden;
}
.contact-me .container .informations ul li a {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  color: var(--third-color);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
  letter-spacing: -1px;
  transition: all 0.5s;
}
.contact-me .container .informations ul li span {
  color: var(--main-color);
  display: inline-grid;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 2px solid var(--main-color);
  border-radius: 50px;
  transition: all 0.5s;
}
.contact-me .container .informations ul li a:hover {
  color: var(--main-color);
}
.contact-me .container .informations ul li a:hover span {
  color: var(--second-color);
  border: 2px solid var(--second-color);
  background-color: var(--main-color);
  cursor: pointer;
}

.contact-me .container .informations ul li span .fa-solid {
  font-size: 26px;
}
.contact-me form {
  background: linear-gradient(145deg, #1d1e20, #101215);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e !important;
  padding: 20px;
  border-radius: 30px;
  visibility: hidden;
}

.contact-me .contact-input {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.contact-me .contact-input.namfirst {
  flex-direction: row;
  justify-content: space-between;
}

.contact-me .contact-input .item {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.contact-me .contact-input label {
  font-size: 16px;
  color: #a0a8b3;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  margin-bottom: 14px;
  text-align: left;
  display: block;
}

.contact-me .contact-input input {
  background-color: #191b1e;
  border-radius: 6px;
  height: 55px;
  border: 2px solid #191b1e;
  padding: 0 15px;
  font-size: 14px;
  font-family: "kanit", sans-serif;
  color: #cd2020 !important;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset !important;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.contact-me .contact-input input:hover {
  border: 2px #cd202070 solid;
  outline: none;
}
.contact-me .contact-input input:focus {
  border: 2px #cd2020 solid;
  outline: none;
}
.contact-me .contact-input textarea {
  background-color: #191b1e;
  border-radius: 6px;
  border: 2px solid #191b1e;
  padding: 0 15px;
  font-size: 14px;
  font-family: "kanit", sans-serif;
  color: #cd2020 !important;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset !important;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.contact-me .contact-input textarea:hover {
  border: 2px #cd202070 solid;
  outline: none;
}
.contact-me .contact-input textarea:focus {
  border: 2px #cd2020 solid;
  outline: none;
}
.contact-me .contact-input input[type="submit"] {
  border-radius: 6px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset !important;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 300;
  border: 0 none;
  color: #a0a8b3 !important;
  transition: transform 0.3s;
}

.contact-me .contact-input input[type="submit"]:hover {
  cursor: pointer;
  background-image: linear-gradient(145deg, #161616, #000000);
  transform: translateY(-10px);
}

.contact-me .container .find-me {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.contact-me .container .find-me .find-me-title {
  font-size: 30px;
  color: var(--third-color);
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
}
.contact-me .container .find-me .find-me-links {
  display: flex;
  /* grid-template-columns: auto auto auto auto; */
  list-style: none;
  justify-content: space-evenly;
}
.contact-me .container .find-me .find-me-links li {
  visibility: hidden;
}
.contact-me .container .find-me .find-me-links a {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: var(--main-transition);
  color: var(--main-color);
  border: 0.5px solid var(--second-color);
  background-color: var(--second-color);
  box-shadow: 0 0 10px #c4cfde3d;
}
.contact-me .container .find-me .find-me-links a:hover {
  border: 0.5px solid var(--main-color);
}
/* large */
@media (max-width: 1200px) {
  .contact-me .container .informations ul li a {
    justify-content: start;
  }
}
/* medium */
@media (max-width: 992px) {
  .contact-me .container .informations ul {
    grid-template-columns: auto;
    justify-content: center;
    gap: 20px;
  }
}

/* ******* End Contact Me ******* */

/* ************************************************************************************* */

/* ******* Start Footer ******* */

footer {
  background-color: #212428;
  padding: var(--second-padding-title);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #111316;
}
footer img,
footer span {
  visibility: hidden;
}

footer span {
  color: var(--third-color);
  font-size: 20px;
  transition: all 0.3s;
  text-align: center;
}
footer span a {
  color: var(--third-color);
  transition: all 0.5s;
  font-size: 22px;
}

footer span a:hover {
  color: var(--main-color);
}

/* ******* End Footer ******* */
